/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-bg-color, #f8f9fa); /* Default body background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center; /* Center the content horizontally */
}

h1 {
    margin: 0;
    color: var(--heading-color, #343a40); /* Default heading color */
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color, rgb(255, 183, 0)); /* Default nav background color */
    color: black;
    padding: 10px 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    height : 500px;
    overflow-y: scroll;
}

.topic {
    color: var(--topic-color, black); /* Default topic color */
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.username {
    font-style: italic;
    margin-bottom: 10px;
}

.content {
    color: #555;
    line-height: 1.6;
   
}

button {
    background-color: var(--button-bg-color, rgb(255, 183, 0)); /* Default button background color */
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color, rgb(13, 13, 13));
  
    color: white; /* Default button hover background color */
}

/* Adjust the width of img */
img {
    width: 50%; /* Set the maximum width of the image to 100% of its container */

}
